<section class="container-fluid" id="brinHistoire">
    <div class="container">
        <h2 class=""> Un brin d'histoire</h2>
    </div>
    <div class="container col">
        <div class="row">
            <h4>L'histoire du CAPC</h4>
            <p>Originellement “Centre d’Arts Plastiques Contemporains”, 
            le CAPC a été fondé en 1973. Il devient le musée d’art 
            contemporain de Bordeaux en 1984. Le musée est labellisé
            “Musée de France” en 2002.
            </p>
            <img src="../../assets/img/histoire.png" alt="Intérieur du CAPC">
        </div>
        
        <div class="row">
            <h4>Un environnement fort</h4>
            <p>Situé dans le quartier des Chartrons, le CAPC dispose de plus
                de 3000m² de surface d’exposition et est installé dans un imposant
                entrepôt de denrées coloniales du 19ème siècle.
            </p>
            <img src="../../assets/img/environnement.jpg" alt="Le bâtiment du CAPC">
        </div>

        <div class="row">
            <h4>Une collection des plus fournies</h4>
            <p>Le CAPC comprend une collection de plus de 1600 pièces signées par 
                plus de 200 artistes des quatres coins du monde. Nous pouvons citer
                parmi eux Daniel Buren, Nan Goldin, Richard Serra ou encore Keith 
                Haring.
            </p>
            <img src="../../assets/img/collection.jpg" alt="Un exemple de collection du CAPC">
        </div>
    </div>
</section>