<section class="container-fluid" id="brinHistoire">
    <div class="container">
        <h2 class=""> Un brin d'histoire</h2>
    </div>
    <div class="container col-12 col-md-10 col-xl-10">
        <div class="row justify-content-center">
            <div  class="col-4">
                <h4>L'histoire du CAPC</h4>
                <p>
                Originellement “Centre d’Arts Plastiques Contemporains”, 
                le CAPC a été fondé en 1973. Il devient le musée d’art 
                contemporain de Bordeaux en 1984. Le musée est labellisé
                “Musée de France” en 2002.
                </p>
            </div>
            <img class="col-5 rounded-pill" 
            src="../../assets/img/histoire.png"
            alt="Intérieur du CAPC">
        </div>
        
        <div class="row justify-content-center align-middle">
            <div class="col-4">
                <h4>Un environnement fort</h4>
                <p>
                Situé dans le quartier des Chartrons, le CAPC dispose de plus
                de 3000m² de surface d’exposition et est installé dans un imposant
                entrepôt de denrées coloniales du 19ème siècle.
                </p>
            </div>
            <img class="col-5" 
                src="../../assets/img/environnement.jpg"
                alt="Le bâtiment du CAPC">
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <h4>Une collection des plus fournies</h4>
                <p>
                    Le CAPC comprend une collection de plus de 1600 pièces signées par 
                    plus de 200 artistes des quatres coins du monde. Nous pouvons citer
                    parmi eux Daniel Buren, Nan Goldin, Richard Serra ou encore Keith 
                    Haring.
                </p>
            </div>
                <img class="col-5"
                    src="../../assets/img/collection.png"
                    alt="Un exemple de collection du CAPC">
        </div>
    </div>
</section>