<section class="container-fluid p-0 pb-5 text-b-1" id="enCours">

    <div class="container-fluid enCours bg-s-1 bg-s-3--darkTheme"> <!-- En cours avec filtres-->  
        <div class="container">
            <h2 class="text-b-1 text-p-1--darkTheme">Évènements en cours</h2>
            <h5 class="m-0 text-b-2 text-p-2--darkTheme">Filtrer par type d’évènement</h5>
        </div>
    </div>

    <ul class="enCoursFiltres pt-2 bg-s-1 bg-s-3--darkTheme p-container-p mb-0 justify-content-between overflow-scroll d-flex gap-3 pb-4">
        {% include components/filter.html label="Tout" icon="stack" %}
        {% include components/filter.html label="Expositions" icon="panel" %}
        {% include components/filter.html label="Visites" icon="directions" %}
        {% include components/filter.html label="Jeune public" icon="man" %}
        {% include components/filter.html label="Performances" icon="masks" %}
        {% include components/filter.html label="Conférences" icon="tableconf" %}
        {% include components/filter.html label="Rencontres" icon="men" %}
        {% include components/filter.html label="Workshops" icon="scroll" %}
    </ul>

    <div class="enCoursCarrouselContainer">
        <div class="p-container-p  enCoursCarrousel d-flex flex-nowrap position:relative">
            {% include 
                components/card_carrousel.html 
                img="/assets/img/club-poisson-lune.png"
                type="Exposition"
                date="04.11.2021→26.03.2022"
                titre="Le club du poisson-lune"
                soustitre="Création de 4 espaces ouverts à tous"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/absalon_absalon.jpg"
                type="Exposition"
                date="24.06.2021→02.01.2022"
                titre="Absalon Absalon"
                soustitre="Exposition reprenant le travail interrompu de l'artiste Absalon"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/residence_artistes.jpg"
                type="Exposition"
                date="10.02.2021→31.12.2021"
                titre="Résidence d'artistes"
                soustitre="Nouveau programme de résidence de plusieurs artistes via un programme varié"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/espace_meditation.jpg"
                type="Visite"
                date="24.06.2021→02.01.2022"
                titre="Espace de méditation"
                soustitre="Invitation à l'introspection et au recentrement de chaque individu"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/atelier_a_emporter.png"
                type="Workshop"
                date="6.10.2021→15.12.2021"
                titre="Atelier à emporter"
                soustitre="En echo à l'exposition Absolon, prêt de l'atelier Cellula, à réaliser chez soi"
            %}
        </div>
    </div>
</section>