<section class="container-fluid p-0 bg-s-1 text-b-1" id="enCours">

    <div class="container enCours"> <!-- En cours avec filtres-->
        <h2>Évènements en cours</h2>
        <h5 class="pb-2">Filtrer par type d’évènement</h5>

        <ul class="enCoursFiltres justify-content-between overflow-scroll d-flex gap-3 px-0 pb-4">
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">    
                {% include components/icons/stack.html %} 
                <p>Tout</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/panel.html %} 
                <p>Expositions</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/directions.html %} 
                <p>Visites</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/man.html %} 
                <p>Jeune Public</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/masks.html %} 
                <p>Performances</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/tableconf.html %} 
                <p>Conférences</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/men.html %} 
                <p>Rencontres</p>
            </li>
            <li class="btn text-b-1 bg-s-2 d-flex justify-content-between align-items-center">
                {% include components/icons/scroll.html %} 
                <p>Workshops</p>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="enCoursCarrousel d-flex flex-nowrap position:relative">
            {% include 
                components/card_carrousel.html 
                img="/assets/img/club-poisson-lune.png"
                type="Exposition"
                date="04.11.2021→26.03.2022"
                titre="Le club du poisson-lune"
                soustitre="Création de 4 espaces ouverts à tous"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/absalon_absalon.jpg"
                type="Exposition"
                date="24.06.2022→02.01.2022"
                titre="Absalon Absalon"
                soustitre="Exposition reprenant le travail interrompu de l'artiste Absalon"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/absalon_absalon.jpg"
                type="Exposition"
                date="24.06.2022→02.01.2022"
                titre="Absalon Absalon"
                soustitre="Exposition reprenant le travail interrompu de l'artiste Absalon"
            %}
            {% include 
                components/card_carrousel.html 
                img="/assets/img/absalon_absalon.jpg"
                type="Exposition"
                date="24.06.2022→02.01.2022"
                titre="Absalon Absalon"
                soustitre="Exposition reprenant le travail interrompu de l'artiste Absalon"
            %}
        </div>
    </div>
</section>