<section class="container-fluid" id="hero">
    <div class="container">
        <div class="row">
            <div>
                <h1 class="text-center text-md-start">Musée<br/>d'art contemporain<br/> de Bordeaux</h1>
                <div class="col-6">
                    <p class="text-start d-none d-md-block">Situé dans le centre-ville de Bordeaux, le CAPC musée d’art contemporain est un établissement phare de la région 
                        bordelaise, avec ses 1600 pièces signées par plus de 200 artistes du monde entier.</p>
                </div>
            </div>
        </div>
    </div>
</section>