<section class="container-fluid" id="hero">

    <div class="container pt-5 pb-5"> <!-- Introduction-->
        <h1 class="text-center text-md-start text-s-1 pt-2 lh-1">Musée<br/><em class="fst-normal position-relative">d'art contemporain</em><br/> de Bordeaux</h1>
        <div class="col-7 pt-2">
            <p class="pt-5 pb-5 text-start d-none d-md-block text-p-1 lh-base">Situé dans le centre-ville de Bordeaux, le CAPC musée d’art contemporain rassemble 1600 pièces signées par plus de 200 artistes du monde entier.
            Cet établissement phare de la région bordelaise  offre une passerelle entre les expériences esthétiques de la fin du siècle dernier et les questionnements des artistes d'aujourd'hui.
            </p>
        </div>
    </div>

    <div class="container"> <!--Exposition à la Une-->
        <div class="row justify-content-center"> 
            <div class="col-12">
                <div class="heroUne rounded-30 p-5 overflow-hidden d-flex flex-column">
                    <img src="/assets/img/image_hero.jpg" alt="Exposition à la Une" class="heroUne_img">
                    <div class="heroUne_overlay"></div>
                    <div class="heroUne_text h-100 flex-grow-1 d-flex flex-column justify-content-between text-b-1 text-p-1--darkTheme">
                        <div class="heroUne_text_title ">
                            <h2>Exposition à la une</h2>
                        </div>
                        <div class="heroUne_text_infos d-flex flex-column">
                            <h5>4.11.2021 → 26.03.2022</h5>
                            <h2 class="text-h1">OLU OGUNNAIKE</h2>
                            <h4>Miettes</h4>
                            <h4 class="heroUne_text_action align-self-end">
                                Plus de détails
                                {% 
                                    include components/icons/open-link.html 
                                    class="ms-2"
                                %}
                            </h4>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>


</section>