<section class="container-fluid" id="prochainement">
    <div class="container">
        <div class="col-12 col-md-6 col-xl-6">
            <h2 class="text-s-1">Prochainement</h2>
            <div class="d-flex justify-content-start">
                <div class="d-flex w-25">
                    <img class="img-fluid w-100" src="/assets/img/on-vend-du-vent.png" alt="Photographie exposition LSF Le tour du jour en 80 mondes">
                </div>
    
                <div class="d-flex flex-column mw-auto mx-2">
                    <div class="d-flex justify-content-between">
                        <h5>Visite LSF</h5>
                        <p>04.12.2021</p>
                    </div>
                    <h5>Le tour du jour en 80 mondes</h5>
                    <p>Visite de l’exposition avec Sylvanie Tendron, médiatrice LSF</p>
                </div>
            </div>
        </div>
    </div>
</section>      