<section class="container-fluid" id="prochainement">
    <div class="container">
        <h2 class="text-s-1 mb-md-5">Prochainement</h2>
        <div class="prochainementFlexCards row">

            <!-- 1ère ligne -->
            {% 
                include components/card_incoming.html
                type="Visite LSF"
                day="04.12.2021"
                title="Le tour du jour en 80 mondes"
                description="Visite de l'exposition avec Sylvanie Tendron, médiatrice LSF"
                src="/assets/img/on-vend-du-vent-google.jpg"
                alt="Exposition LSF Le tour du jour en 80 mondes"
            %}
            
            {% 
                include components/card_incoming.html
                class="image-position"
                type="Workshop"
                day="08.12.2021"
                title="Dancehall"
                description="Initiation au Dancehall avec la danseuse Mwendwa"
                src="/assets/img/mwendwa-google.jpg"
                alt="La danseuse Mwendwa"
            %}
                

            <div class="col-12 col-md-6 col-xl-6 d-none d-md-flex">
                <div class="w-100 border-bottom border-s-1 border-2"></div>
            </div> 
            <div class="col-12 col-md-6 col-xl-6 d-none d-md-flex">
                <div class="w-100 border-bottom border-s-1 border-2"></div>
            </div> 

            <!-- 2ème ligne -->
            {% 
                include components/card_incoming.html
                type="Jeune Public"
                day="17.11.2021"
                title="Cellule Masters"
                description="Atelier de construction en Lego avec Vincent Sereks"
                src="/assets/img/cellule_master-google.jpg"
                alt="Exemple d'une oeuvre d'Absalon servant de base pour l'atelier"
            %}
            
            {% 
                include components/card_incoming.html
                type="Rencontre"
                day="15.12.2021"
                title="Louise Siffert"
                description="Présentation du travail de Louise Siffert par l'artiste elle-même"
                src="/assets/img/louise_siffert-google.jpg"
                alt="Louise Siffert posant avec l'une de ses oeuvres"
            %}

        </div>
    </div>
</section>