<section class="container-fluid" id="prochainement">
    <div class="container">
        <div class="col-12 col-md-6 col-xl-6">
            <h2 class="text-s-1 col-12 col-md-6 col-xl-6">Prochainement</h2>
            <div class="row justify-content-start">
                <div class="col-md-4 col-xl-4">
                    <img class="img-fluid w-100" src="/assets/img/on-vend-du-vent.png" alt="Photographie exposition LSF Le tour du jour en 80 mondes">
                </div>
    
                <div class=" row justify-content-between col-md-8 col-xl-8">
                    <div class="col-6 col-md-6 col-xl-6">
                        <h5>Visite LSF</h5>
                    </div>
                    <div class="col-4 col-md-4 col-xl-4">
                        <p>04.12.2021</p>
                    </div>
                    <h5>Le tour du jour en 80 mondes</h5>
                    <p>Visite de l’exposition avec Sylvanie Tendron, médiatrice LSF</p>
                </div>
            </div>
        </div>
    </div>
</section>      