---
---
@import 'var';
@import 'header';
@import 'footer';

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

html[data-theme="dark"] .hidden-dark-mode {
    display: none;
}
html[data-theme="light"] .hidden-light-mode {
    display: none;
}
:root {
    font-size: calc(8px + 0.4vw);
}

// exemple d'utilisation:
// <h1>...</h1> (le mieux nv seo) ou <span class="text-h1">...</span> (moins ouf nv seo)
h1, .text-h1 { font: var(--h1) }
h2, .text-h2 { font: var(--h2) }
h3, .text-h3 { font: var(--h3) }
h4, .text-h4 { font: var(--h4) }
h5, .text-h5 { font: var(--h5) }
p, .text-p { font: var(--p) }
label, .text-label { font: var(--label) }