#brinHistoire{
    
    .kiki{margin:20px}

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles pour cette Media Queries */
        .kiki{margin:10px}
    }

        @media only screen and (max-width:991px){
            .mobile_reverse{
                flex-direction:column-reverse;
            }
            .mobile_margin_top{
                margin-top: 5%;
            }
            // .border-0{
            //     display:none;
            // }
        }

    .img_histoire_relative{
        position:relative;
    }

    .brinHistoire_content {
        @include media-breakpoint-up(md) {
            border-left: 3px solid var(--s-1);

            .brinHistoire_content > * {
                margin-top: 5rem;
                margin-bottom: 5rem;
            }
        }
    }

    .histoire_deco{
        position: absolute;
        top: -4.375rem;
        right: -3.75rem;
        z-index: -1;
    }

    .img_collection_relative{
        position: relative;
    }

    .collection_deco{
        position: absolute;
        top: -5rem;
        left: -2rem;
        z-index: -1;
    }

}