#enCours {

    .enCours {
        position: relative;
        padding-top: 15rem;

        @include media-breakpoint-down(md) {
            padding-top: 8rem;
        }

        @include media-breakpoint-between(md, xl) {
            padding-top: 12rem;
        }

        li {
            border-radius: 0.625rem;

            p {
                margin-left: 0.5rem;
                margin-bottom: 0;
            }
        }
    }

    .enCoursFiltres::-webkit-scrollbar {
        display: none;
    } 
    
    .enCoursCarrouselContainer {
        position: relative;

        &::after {
            position: absolute;
            content: " ";
            bottom: 50%;
            left: 50%;
            height: 50%;
            width: 200%;
            transform: translateX(-50%);
            z-index: -1;
            background: var(--s-1);
        }
    }

    .enCoursCarrousel {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        .enCoursCarrousel_card {
            margin-bottom: 3rem;
            width: 30rem;
            height: auto;
            grid-row: 1;
            margin-right: 2rem;
        }

        .enCours_overlay {
            opacity:0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.3));
            transition: 200ms linear;
        }

        .enCoursCarrousel_cardText {
            opacity: 0;
            flex-direction: column;
            z-index:10;
            transition: 200ms linear;
        }
    }
    

    .enCoursCarrousel_card:hover {

        .enCoursCarrousel_cardText,
        .enCours_overlay {
            opacity: 1;
        }
    }

    .enCoursCarrousel::-webkit-scrollbar {
        height: 0.7rem;
      } 
    
    .enCoursCarrousel::-webkit-scrollbar-track { 
        background: var(--s-3);
        border-radius: 10px;
    }
    
    .enCoursCarrousel::-webkit-scrollbar-thumb { 
        background: var(--t-1);
        border-radius: 10px;
    }
    
    .enCoursCarrousel::-webkit-scrollbar-thumb:hover { 
        background:var(--t-2);
    }   

}