#hero {
    .bg-blue {
        padding-top: 10rem;
    }

    ul {
        list-style-type: none;
    }

    .hero_une {
        margin-bottom: -7rem;
        position: relative;

        .hero_uneText {
            background: linear-gradient(90deg, rgba(black, 1), rgba(black, 1));
        }

        .hero_uneTextTop {
            position:absolute;
            top: 0;
        }
        .hero_uneTextBottom {
            position: absolute;
            bottom: 0;
        }
    }

    .hero_enCours {
        padding-top: 10rem;

        .filters {
            display: flex;
            justify-content: space-around;
        }
    }
    
}
