#prochainement {
    .prochainementFlexCards {
        $gap: 2.5rem;
        padding: $gap 0;
        gap: $gap;
    }

    img{
        @media only screen and (min-width:768px){ //Pour PC
            width: 160px;
            height: 150px;
            object-fit: cover;
            object-position: center center;
            // object-position: 100% 0;
        }
        @media only screen and (max-width:767px){ //Pour mobile
            width: 90px;
            height: 100px;
            object-fit: cover;
            object-position: center center;
        }
    }

    .image-position{
        object-position: 0 45%;
    }

    .margin_mobile_top{
        @media only screen and (max-width:767px){
            margin-top: 5%;
        }
    }

    .reverseCards .cardIncomingInner{
        @media only screen and (max-width:767px){
            flex-direction: row;
        }
        @media only screen and (min-width:768px){
            flex-direction: row-reverse;
        }
    }
}