#prochainement {
    .img_prochainement{
        max-width: 160px;
        max-height: 140px;
        object-fit: cover;
    }

    .margin_mobile_top{
        @include media-breakpoint-only(md){
            margin-top: 5%;
        }
    }
}