<section class="container-fluid" id="infoPatrick">
    <div class="container">
        <h2 class="mt-5 text-s-1">Informations pratiques</h2>
        <div class="col-12 col-md-6 col-xl-6">
            <h5 class="text-s-2">Informations Covid-19</h5>
            <p>Un pass sanitaire est nécessaire pour entrer dans le musée</p>
            <h5 class="text-s-2">Horaires</h5>
            <p>Mardi au dimanche de 11h à 18h</p>
            <h5 class="text-s-2">Tarifs</h5>
            <p>Tarif plein:7€ et Tarif réduit: 4€</p>
            <h5 class="text-s-2">Contact</h5>
            <p>Tél: +33(0)556008150 <br/>
                Mail: capc@mairie-bordeaux.fr
            </p>
            <div class="button">

            </div>
        </div>
    </div>
</section>