<section class="container-fluid" id="infoPatrick">
    <div class="container">
        <div class="row justify-content-between">
            <h2 class="mt-5 text-s-1">Informations pratiques</h2>
            <div class="col-12 col-md-6 col-xl-6">
                <div class="my-4">
                    <h5 class="text-s-2">Informations Covid-19</h5>
                    <p>Un pass sanitaire est nécessaire pour entrer dans le musée</p>
                </div>
                <div class="my-4">
                    <h5 class="text-s-2">Horaires</h5>
                    <p>Mardi au dimanche de 11h à 18h</p>
                </div>
                <div class="my-4">
                    <h5 class="text-s-2">Tarifs</h5>
                    <p>Tarif plein: 7€ et Tarif réduit: 4€</p>
                </div>
                <div class="my-4">
                    <h5 class="text-s-2">Contact</h5>
                    <p>Tél: +33(0)556008150 <br/>
                        Mail: capc@mairie-bordeaux.fr
                    </p>
                </div>
                <div class="button">

                </div>
            </div>

            <div class="col-12 col-md-5 col-xl-5 justify-content-end">
                <img class="img-fluid w-100 mt-4"src="/assets/img/map.png" alt="Emplacement du CAPC, centre de Bordeaux">
                <div class="my-4">
                    <h5  class="text-s-2">Accès</h5>
                    <p class="mt-4">7 rue Ferrere, 33000 Bordeaux<br/>
                    Tram B arrêt CAPC Musée d’Art Contemporain<br/>
                    Tram C arrêt Jardin Public<br/>
                    Bus 4 Jardin Public<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>