<header id="header">
    <nav class="sticky-top top-0 navbar navbar-expand-md navbar-light bg-b-2 border-s-1 border-bottom border-2">
        <div class="container align-center justify-center">
            <!-- menuBurger: tel -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarheader" aria-controls="navbarheader" aria-expanded="false" aria-label="Toggle navigation">
                {% include components/menu-toggler-icon.html %}
            </button>
            <!-- fin menuBurger -->

            <!-- section1 : logo sur pc/actions sur tel  -->
            <a class="navbar-brand d-none d-md-initial" href="#">
                <img class="hidden-dark-mode" src="/assets/logo/logo-light.png" height="24">
                <img class="hidden-light-mode" src="/assets/logo/logo-dark.png" height="24">
            </a>
            <div class="navbar-brand d-flex d-md-none align-items-center justify-content-center flex-row">
                <div class="nav-item">
                    {% include components/themeBtn.html %}
                </div>
                <div class="nav-item dropstart">
                    <a class="" href="#" id="programDropdownMenuLink" role="button" aria-expanded="false">
                        {% include components/searchBtn.html %}
                    </a>
                    <div class="dropdown-menu border-0 bg-b-2 " aria-labelledby="programDropdownMenuLink">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- fin section1 -->


            <!-- sectionNavigation : se cache sur tel / tj affiché sur pc -->
            <div class="collapse navbar-collapse justify-center  flex-column-reverse flex-md-row" id="navbarheader">
                <ul class="navbar-nav me-auto mb-md-0 align-items-md-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="programDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Programme
                        </a>
                        <ul class="dropdown-menu border-0 bg-b-2 rounded-0 rounded-bottom" aria-labelledby="programDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Expositions</a></li>
                            <li><a class="dropdown-item" href="#">Visites</a></li>
                            <li><a class="dropdown-item" href="#">Rencontres</a></li>
                            <li><a class="dropdown-item" href="#">Conférences</a></li>
                            <li><a class="dropdown-item" href="#">Jeune public</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Musée</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 align-items-center justify-content-center flex-row">

                    <!-- subsectionActions : caché sur mobile -->
                    <li class="nav-item d-none d-md-initial">
                        {% include components/themeBtn.html %}
                    </li>
                    <li class="nav-item d-none d-md-initial dropstart">
                        <a class="" href="#" id="programDropdownMenuLink" role="button" aria-expanded="false">
                            {% include components/searchBtn.html %}
                        </a>
                        <div class="dropdown-menu border-0 bg-b-2 " aria-labelledby="programDropdownMenuLink">
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </li>
                    <!-- fin subsectionActions -->

                    <li class="nav-item">
                        <span class="btn">FR</span>
                    </li>
                    <li class="nav-item">
                        <span class="btn">ENG</span>
                    </li>
                    <li class="nav-item">
                        <span class="btn">SP</span>
                    </li>
                </ul>
            </div>
            <!-- fin sectionNavigation -->

        </div>
    </nav>
</header>   