#bio{
    .bouton{
        border-radius: 15px;
        margin-bottom: -1.5rem;
        display: flex;
        height: 4rem;
        color: var(--s1);
    }
    
    .Bio-top{
        margin-top: 7.25rem;
    }
    
    .sylvanie-top{
        margin-top: 5.5rem;
    }
    
    .texte-top{
        margin-top: 2.5rem;
    }

    .para-top{
        margin-top: 2.5rem;
    }

    .img-top > img{
        margin-top: 8.125rem;
        border-radius: 25px;
        margin-bottom: 6.75rem;
    }

    .bouton > svg{
        margin-left: 1rem;
    }

    .bouton> a{
        text-decoration: none;
    }
    
    .bouton > a:visited{
        color: var(--s1);
        text-decoration: none;
    }
}