#bio{
    .bouton{
        border-radius: 15px;
        display: flex;
        padding: 0.4rem;
    }
    
    .Bio-top{
        margin-top: 7.25rem;
    }
    
    .sylvanie-top{
        margin-top: 5.25rem;
    }
    
    .texte-top{
        margin-top: 2.25rem;
    }

    .para-top{
        margin-top: 2.25rem;
    }

    .img-top > img{
        margin-top: 8.125rem;
        border-radius: 25px;
    }
}