#description{
    margin-top: -30px;
    z-index: 2;

    .desc_img{
        height: 40%;
        width: auto;
    }

    .desc_tarif{
        background-color: var(--p-2);
    }

    .pos-graph{
        position: absolute;
        right: 0;
        top: 30%;
    }
    .pos-graph-1{
        position: absolute;
        right: 20%;
        bottom: 5%;
    }
    .pos-graph-2{
        position: absolute;
        left: -3%;
        top:2%;
    }
    
}