#intro {
    position: relative;
    padding: 0%;

    .intro_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    
    .intro_content{
        height: 60vh;
        color: var(--b1);
    }
}