#footer {
    a {
        text-decoration: none;
    }

    .footerPaddingBot {
        padding-bottom: 7rem;
    }

    @include media-breakpoint-down(md) {
        .footerPaddingBot {
            padding-bottom: 5rem;
        }
    }
}