#footer {
    a {
        text-decoration: none;
    }

    .footerPaddingBot {
        padding-bottom: 5rem;
    }

    .footerCursor > * {
        cursor: pointer;
        width:max-content;
    }

    .footerCursor > *:hover {
        color:var(--t-1);
    }


}