#footer {
    a, label {
        text-decoration: none;
        color: var(--s-1);

        &:hover {
            color: var(--t-1);
            text-decoration: underline var(--t-1) !important;
        }
    }

    .footerPaddingBot {
        padding-bottom: 5rem;
    }

    .footerCursor > * {
        cursor: pointer;
        width:max-content;
    }

    .footerCursor > *:hover {
        color:var(--t-1);
    }

}