#header {
    // border-bottom: 2px solid var(--s1);
    span, a, .btn, svg {
        color: var(--s1) !important;
        &:hover {
            color: var(--t1) !important;
        }
    }

}

html[data-theme="dark"] {
    #header {
        // border-bottom: 2px solid var(--s1);
        span, a, .btn, svg {
            color: var(--p1) !important;
            &:hover {
                color: var(--s1) !important;
            }
        }
    
    }
}