#header {
    // border-bottom: 2px solid var(--s-1);
    span, a, .btn, svg {
        color: var(--s-1) !important;
        &:hover {
            color: var(--t-1) !important;
        }
    }
    a:hover, span:hover {
        text-decoration: underline !important;
    }
    svg:hover {
        transform: scale(1.1);
    }
}

html[data-theme="dark"] {
    #header {
        // border-bottom: 2px solid var(--s-1);
        span, a, .btn, svg {
            color: var(--p-1) !important;
            &:hover {
                color: var(--s-1) !important;
            }
        }
    
    }
}

