<section class="container-fluid bg-s-1" id="bio">
    <div class="container">


        <div class="row">


            <div class="col-12 col-md-6 text-start text-b-1">

                <div class="Bio-top">
                    <h2>Biographie</h2>
                </div>

                <div class="sylvanie-top">
                    <h4>Sylvanie Tendron - Vidéographe</h4>
                </div>

                <div class="texte-top">
                    <p>Artiste vidéaste-performeuse, médiatrice culturelle en Langue des Signes Française et Trad'adaptatrice en Langue des Signes pour des projets artistiques et culturelles.</p>
                </div>

                <img src="/assets/img/Sylvie_Tendron_Mobile.png" alt= "Biographie" class="d-block d-md-none img-fluid">

                <div class="para-top">
                    <p>Sylvanie Tendron explore les comportements liés au langage et à la communication. Pour ce faire, elle puise dans son expérience quotidienne et évoque, avec humour et dérision, l’absurdité, les entraves et les malentendus suscités par la confrontation et la rencontre de la différence.</p>
                </div>

            </div>


            <div class="d-none d-md-block col-5">

                <div class="img-top">
                    <img src="/assets/img/Sylvanie_Tendron.jpg" alt="Biographie" class="img-fluid">
                </div>

                <div class="row justify-content-center">
                    <div class="justify-content-center bouton col-10 text-s-1 bg-b-3">
                        <h5>Retourner aux expositions</h5>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>