<section class="container-fluid" id="bio">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-start text-b-1">
                <h2>Biographie</h2>
                <h4>Sylvie Tendron - Vidéographe</h4>
                <p>Artiste vidéaste-performeuse, médiatrice culturelle en Langue des Signes Française et Trad'adaptatrice en Langue des Signes pour des projets artistiques et culturelles.</hp>
            </div>
            <div class="justify-content-center md-justify-content-end col-12 col-md-5">

            </div>
        </div>
    </div>
</section>