<section class="container-fluid bg-b-2 rounded-30 " id="description">
    <div class="container">
        <h2 class="d-flex py-5 text-s-1">Le Tour du jour en quatre-vingts mondes</h2>
        <div class="row d-flex justify-content-between pb-4">
            <div class="col-12 col-md-6 rapport">
                <h4 class="pb-3 text-p-2">Rapport Intercontinental</h4>
                <p class="text-p-2">Empruntant son titre à un recueil de textes de Julio Cortázar, l’exposition Le Tour du jour en quatre-vingts mondes revisite les œuvres majeures de la collection du Capc sous l’angle de systèmes de représentation renouvelés du monde. À l’instar d’autres musées européens, le Capc a construit et développé sa collection sur un socle majoritairement masculin et anglo-européen, alors même que, depuis le XVIIe siècle, l’histoire commerciale et culturelle de Bordeaux s’écrit à travers son rapport avec l’Afrique, l’Asie et les Amériques.</p>
            </div>
            <div class="d-none d-md-flex col-md-6 d-flex justify-content-center align-items-center "><h5 class="rounded-10 desc_tarif p-3 text-b-1">Tarif : Prix du billet d’entrée majoré de 1€</h5></div>
        </div>
        <div class="row d-flex justify-content-between pb-4">
            <div class="col-12 col-md-6 rapport">
                <h4 class="pb-3 text-p-2">Flux culturel</h4>
                <p class="text-p-2">Le mouvement de décentrement culturel sans précédent auquel nous assistons depuis plusieurs décennies, mais dont nous ne mesurons que depuis peu le séisme culturel, politique et sociologique qu’il génère, impose une réévaluation des collections publiques qui prenne en compte les processus complexes à l’œuvre dans la mondialisation.</p>
            </div>  
        </div>
        <div class="row d-flex justify-content-between pb-4">
            <img class="col-12 col-md-6  img-fluid pb-4 desc_img" src="/assets/img/Description_image.jpg" alt="Albinos">
            <div class="col-12 col-md-6  d-flex flex-column justify-content-center rapport">
                <h4 class="pb-3 text-p-2">Poétisation</h4>
                <p class="text-p-2">L’exposition Le Tour du jour en quatre-vingts mondes génère des dialogues entre artistes d’origines géographiques, de genres et de générations diverses et postule que de nouveaux récits de l’art sont possibles et souhaitables. Si elle se nourrit d’expositions récentes autour de ces questions, à l’instar de Modernités plurielles au Centre Pompidou en 2015 ou Intense Proximité au Palais de Tokyo en 2012, elle s’en démarque dans la mesure où, comme son titre le suggère, elle assume pleinement sa dérive poétique.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-between pb-4">
            <div class="col-12 col-md-6 rapport">
                <h4 class="pb-3 text-p-2">Affiliation</h4>
                <p class="text-p-2">Pour opérer ce dialogue, le Capc s’est associé au Centre national des arts plastiques, par le biais d’un dépôt conséquent d’œuvres d’artistes originaires de régions extra-européennes, mais dont la démarche singulière déjoue tout déterminisme qui consisterait à réduire leur identité à un genre, une génération ou un contexte géographique déterminé. Ce nouveau corpus vient s’articuler avec des œuvres de deux décennies charnières dans l’histoire des acquisitions du Capc – les années 1980 et 1990 – pendant lesquelles s’est construite la colonne vertébrale de la collection du musée.</p>
            </div>
        </div>
    </div>
</section>