<section class="container-fluid hero" id="intro">
    <img src="/assets/img/on-vend-du-vent-google-red.jpg" class="intro_img" alt="Image de l'exposition : On vend du vent">
    <div class="container">
        <div class="row d-flex justify-content-between intro_content">
            <div class="d-flex flex-column justify-content-center align-items-start 
                        flex-md-row  justify-content-md-start align-items-md-center 
                        col-12 col-xl-12 text-p-1--darkTheme">
                <h2>Exposition</h2>
                <h4 class="ms-md-5 border border-3 p-3 rounded">Visite LSF</h4>
            </div>
            <div class="d-flex flex-column-reverse justify-content-center col-12 col-xl-12 text-p-1 text-b-1--lightTheme ">
                <h1>Sylvanie TENDRON</h1>
                <h5>04.12.2021</h5>
            </div>
        </div > 
    </div>
</section>