<div class="cardIncoming col-12 col-md-6 col-xl-6 margin_mobile_top {{include.border}}">
    <div class="cardIncomingInner d-flex justify-content-between align-items-center gap-5">
        <div class="d-flex img_prochainement {{include.class}}">
            <img class="img-fluid rounded-20" src="{{include.src}}" alt="{{include.alt}}">
        </div>

        <div class="d-flex flex-grow-1 flex-column mw-auto mx-2">
            <div class="d-flex justify-content-between">
                <h5 class="mb-3 text-p-2">{{ include.type }}</h5>
                <p class="text-p-2 m-0">{{ include.day }}</p>
            </div>
            <h4 class="text-s-1">{{include.title}}</h4>
            <p class="m-0">{{include.description}}</p>
        </div>
    </div>
</div>