<div class="incomingCard flex-shrink-0 position-relative justify-content-center overflow-hidden rounded-30">
    <img src={{include.img}} class="incomingCard_img" alt={{include.alt}}>
    <div class="incomingCard_overlay position-absolute top-0 start-0 h-100 w-100"></div>
    <div class="incomingCard_text flex-grow-1 gap-2 h-100 justify-content-end justify-content-md-start d-flex flex-column py-3 py-md-5 px-4">
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <h5>{{include.type}}</h5>
            <p>{{include.date}}</p>
        </div>
        <h4 class="text-s-3">{{include.titre}}</h4>
        <p class="text-label text-md-p">{{include.soustitre}}</p>
    </div>
</div>