<div class="enCoursCarrousel_card flex-shrink-0 position-relative justify-content-center overflow-hidden card bg-transparent">
    <img src={{include.img}} class="h-100" alt="Club du Poisson Lune">
    <div class="enCours_overlay position-absolute top-0 start-0 h-100 w-100"></div>
    <div class="enCoursCarrousel_cardText d-flex flex-column py-5 px-4 position-absolute w-100 h-100">
        <div class="d-flex justify-content-between">
            <h5>{{include.type}}</h5>
            <p>{{include.date}}</p>
        </div>
        <div class="my-auto">
            <h4 class="text-s-3">{{include.titre}}</h4>
            <p>{{include.soustitre}}</p>
        </div>
    </div>
</div>