.cardIncoming {
    .cardIncomingInner_img {
        @include media-breakpoint-down(md){
            // width: 20%;
            width: 90px;
            height: 140px;
            object-fit: cover;
            object-position: center center;
        }

        @include media-breakpoint-up(md){
            width: 180px;
            height: 150px;
            object-fit: cover;
            object-position: center center;
            // object-position: 100% 0;
        }
        
    }
}