@import url(../var.scss);

.section-1{
    --br: 1.563rem;
    border-radius: var(--br) var(--br) 0rem 0rem;
    background-color:var(--b1) ;
    margin-top: calc( -1*var(--br));
}

.section-1 h4, .section-1 p {
    color: var(--p2);
}

.section-1 h1, .section-1 h2 {
    color: var(--s1);
}

.section-1 h5{
    color: var(--b1);
}

.title-section-1{
    text-align:start;
    padding-bottom: 1.875rem;
}

.part{
    display: flex;
    padding: 1.25rem 0rem 1.25rem 0rem;
}

.part-1, .part-3{
    justify-content: space-between;
    align-items: center;
}

.rapport{
    width: 50%;
}

.tarif{
    padding: 1.25rem 2.813rem 1.25rem 2.813rem;
    align-items: center;
    background-color: var(--p2);
    border-radius: 0.938rem;
}

.image-content{
    border-radius: 1.25rem;
}
