#infoPatrick {

    .position-relative{
        position:relative;
    }

    .deco-infos{
        position:absolute;
        bottom:-40%;
        right:-70%;
        z-index:-1;
    }

    .bouton{
        border-radius: 15px;
        display: flex;
        height: 3rem;
    }

    .bouton > svg{
        margin-left: 1rem;
    }

    .bouton> a{
        text-decoration: none;
    }
    
    .bouton > a:visited{
        text-decoration: none;
    }

    .mrg{
        margin-top: 2.2rem;
    }
    @include media-breakpoint-up(md){
        .bouton-mobile-color{
            background-color: var(--s3);
        }
        svg{
            color: var(--p2);
        }
        .texto{
            color: var(--p2);
        }
    }

    @include media-breakpoint-down(md){
        .bouton-mobile-color{
            background-color: var(--s2);
        }
        .texto{
            color: var(--b1);
        }
        svg{
            color: var(--b1);
        }
    }
}
