.ip_top_page{
    display:flex;
    justify-content: space-evenly;
    background-color: var(--b1);
}

.nothing{
    width: 420px;
}

.ip_titre{
    padding-top: 6rem;
    margin-left: -2rem;
    padding-bottom: 3rem;
    color: var(--s1);
    background-color: var(--b1);
}

.ip_texte > h5{
    color: #5F80ED;
    margin-bottom: 0.3rem;
}

.ip_texte > p{
    margin-bottom: 0.6rem;
}

.ip_texte{
    margin-bottom: 2rem;
}

.ip{
    display: flex;
    justify-content: space-around;
    background-color: var(--b1);
    color:var(--p1);
}

.ip_acces > h5{
    color:var(--s2);
}

.ip_bouton{
    width: 17rem;
    height: 3rem;
    background-color:var(--s3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ip_bouton > a{
    color:var(--p2);
    text-decoration: none;;
}

.ip_bouton > a:visited{
    color:var(--p2);
}

.ip_bouton > svg{
    margin-left: 1rem;
    color:var(--p2);
}

.ip_plan_acces > img{
    border-radius: 30px;
    margin-bottom: 1rem;

}

.ip_partie_gauche{
    margin-bottom: 8rem;
}