#infoPatrick {

    .bouton{
        border-radius: 15px;
        display: flex;
        height: 3rem;
    }

    .bouton > svg{
        margin-left: 1rem;
    }

    svg{
        color: var(--p2);
    }

    .bouton> a{
        text-decoration: none;
    }
    
    .bouton > a:visited{
        color: var(--s1);
        text-decoration: none;
    }

    .mrg{
        margin-top: 2.2rem;
    }
}
